.wrapper{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.wrapperItems{
    border-left: 3px solid white;
}
.wrapperItem{
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.wrapperItem a{
    text-decoration: none;
    color: white;
}
.wrapperItem img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.messages{
    position: relative;
    padding: 10px;
    border-left: 3px solid white;
}
.message{
    margin-bottom: 10px;
}
.active{
    color: rgb(18, 166, 224) !important;
    font-size: 25px;
    padding: 5px;
}
.textareaPost{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width:  500px;
    resize: none;
}
.sendPost{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 240px;
    height: 81px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    
}
.sendPost:hover{
    background-color: rgb(18, 166, 224);
    border: 3px solid black;
}